docs/_build/
docs/.jupyter_cache/
build/
dist/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
**/__pycache__/
*.py[cod]
*.egg-info/
